.memory-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.memory-grid {
    display: grid;
    grid-template-columns: auto 1fr 20px auto 1fr;
    gap: 4px 12px; /* row and column spacing */
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 20px;
}

.memory-header-cell {
    font-weight: bold;
    text-align: left;
}

.memory-spacer {
    width: 20px;
}

.bit-address,
.bit-data {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.bit-data > :nth-child(4) {
    margin-right: 8px;
}
