.ram-monitor {
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    background-color: #ddd;
    padding: 0em !important;
}

.ram-monitor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #666;
}

.ram-monitor-header h2 {
    margin: 0;
    font-size: 1.1rem;
}

.ram-monitor-content {
    flex: 1;
    padding: 5px;
}

.ram-monitor-footer {
    display: flex;
    align-items: center; /* verhindert, dass Buttons hochgezogen werden */
    gap: 10px;
    border-top: 1px solid #666;
}

.ram-monitor-footer button {
    margin: 10px 15px;
}

.ram-monitor-footer div {
    flex: 1;
    display: grid; /* Grid statt Flex */
    grid-template-columns: repeat(6, auto); /* 6 Spalten in der ersten Reihe */
    grid-auto-rows: auto;
    gap: 8px;
    padding: 6px;
    box-sizing: border-box;
}

.ram-monitor-footer div span {
    background: rgba(255, 255, 255, 0.3);
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
}
