.flag-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-column .led {
    margin-bottom: 0;
}

.flag-label {
    text-align: center;
    white-space: nowrap;
    line-height: 15px;
    user-select: none;
    font-size: 14px;
}
